<!doctype html>
<html>
<head>
    <title>In The Streets Of:</title>
     <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="login.css">
</head>
<body id="appform-page">
<div id="appform-wrapper" class="container">
<div class="appform-container clearfix">

<div class="panel panel-small">


    <h1 class="panel-heading"><span class="fa fa-sign-in"></span>Sign Up</h1>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form id="panel-form" action="/signup" method="post">
        <div class="appform-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" required="">
        </div>
        <div class="appform-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" required="" >
        </div>
        <div class="appform-checkbox clearfix">
           <div class="appform-checkbox-button">
             <input type="checkbox" id="remember">
             <label for="remember"></label>
           </div><span>Remember Me</span>
         </div>

        <button type="submit" class="appform-button">Sign Up</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>
  </div>
<p id="panel-bottom"><a href="#">Forgot your password?</a></p>
</div>
</div>

</div>
</div>
</body>
</html>
